
<!-- <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″/> -->
<title> 入力フォーム</title>
<link rel="stylesheet" href="./common/css/entry_example.css">
<link rel="stylesheet" href="./common/css/resp_table.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
<style type="text/css">
	#imageFile::before {
		content: "画像を選択";
		position: absolute;
		/*z-index: 2;*/
		margin-top: 3px;
		margin-left: 9px;
		/* margin: 0 auto; */
		display: block;
		background-color: #eee;
		width: 81px;
	}
	/*#entry-example::before {
	z-index: 2;
	}*/
	.gallery{
		display: flex;
	}
	.view-img {
		display: grid;
		margin-left:  5px;
	}
	.gallery img{
		width: 160px;
		height: 120px;

	}
	.gallery label{
		color: red;
	}
	.gallery a{
		text-align: right;
	}
	.day{
		font-size: 22px;
	}
	.css-video{
		width: 160px;
		height: 120px;
	}
	.btn-button{
		display: flex;
	}
	.btnsubmit{
		margin: auto;
		margin-top: 20px;
		background-color: #4285F4;
		border-radius: 28px;
		border: 1px solid #4285F4;
		display:block; 
		cursor: pointer;
		color: white;
		font-family: Arial;
		font-size: 17px;
		padding: 10px 40px;
		text-decoration: none;
		text-shadow: 0px 1px 0px #4285f4;
		outline: none;
	}
	.entry-example{
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		text-align: right;
	}
	/*//upload file*/
	#userImage {
		display: none;
	}

	.upload-btn {
		border: 1px solid burlywood;
		text-align: center;
		margin: 5px auto 5px;
		width: 150px;
		/*height: 18px;*/
		background-color: #ffe17f;
		line-height: 18px;
		border-radius: 20px;
	}

	.upload-btn:hover {
		background-color: #c39d5a;
		color: white;
		cursor: pointer;
	}
	table th, table td{
		padding: 5px;
	}
	.form-title{
		display: flex;
		justify-content: center;
	}
	.form-edit{
		/*width: 85%;*/
		margin-left: auto;
		display: flex;
		justify-content: space-around;
		font-weight: bold;
	}
</style>

<body>
	<!-- <p class="day" id="day" name="day"></p> -->

<?if($confirm!=1){?>
<?if($_REQUEST["ID"]=="hotel"){?>
	<div class="form-title">
		<img src="./common/icon/house.png" style="height: 40px;margin-right: 10px;"><h1 style="text-align: center;color: #0090D5;">宿泊</h1>
	</div>
<?}else{?>
	<div class="form-edit">
		<div class="form-title">
		<img src="./common/icon/house.png" style="height: 40px;margin-right: 10px;"><h1 style="text-align: center;color: #0090D5;">宿泊</h1>
		</div>
		<div class="form-title">
			<h1 style="text-align: center;color: #0090D5;">修正・削除</h1>
		</div>
	</div>
<?}?>
<div class="form-inputdata" style="">
<form id="inputform" name="from-input" class="" method="POST" onsubmit="return formValidate1()"
action="<?=$base_url?>" enctype="multipart/form-data">
<div class="inputform_div">
<script>
	// Get the modal
	var modal = document.getElementById("myModal");

	// Get the image and insert it inside the modal - use its "alt" text as a caption
	var img = document.getElementById("myImg");
	// var modalImg = document.getElementById("img01");
	// var captionText = document.getElementById("caption");
	// img.onclick = function(){
	// 	modal.style.display = "block";
	// // modalImg.src = this.src;
	// // captionText.innerHTML = this.alt;
	// }

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks on <span> (x), close the modal
	// span.onclick = function() { 
	// 	modal.style.display = "none";
	// }
</script>
</div>
<table class="t_form" align="center">
	<tr>
		<th>宿泊名</th>
		<td colspan="3">
			<input type="text" class="w50p" name="Name" maxlength="50"  value="<?=$data_post["Name"]?>" required>
			<input type="hidden" class="w50p" name="ID" value="<?=$data_post["ID"]?>" > 
		</td>
	</tr>
	<tr>
		<th>住所</th>
		<td colspan="3">
			<input type="hidden" id="Lng" name="Lng" value="<?=$data_post["Lng"]?>" > 
			<input type="hidden" id="Lat" name="Lat" value="<?=$data_post["Lat"]?>" >
			<input type="text" class="w50p" name="Address"  maxlength="50" onchange="getLongLng(this)" value="<?=$data_post["Address"]?>" required>
		</td>
	</tr>
	<tr>
		<th>メール</th>
		<td colspan="3"><input placeholder="example@gmail.com" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$" type="text" class="w50p" name="MemberEmail" value="<?=$data_post["MemberEmail"]?>"></td>
	</tr>
	<tr>
		
		<th>広告掲載</th>
		<td class="choice" >
			<input type="radio" id="AdFlag" name="AdFlag" value="1" checked>
			<label for="0">する</label>
			<input type="radio" id="AdFlag" name="AdFlag" value="0">
			<label for="1">しない</label>
		</td>	
		<th>掲載</th>
		<td class="choice" >
			<input type="radio" id="Flag" name="Flag" value="1" checked>
			<label for="0">する</label>
			<input type="radio" id="Flag" name="Flag" value="0">
			<label for="1">しない</label>
		</td>	
	</tr>
	
	<tr>
		<th>客室数</th>
		<td  >
			<input type="text" class="w50p" name="Room_number" maxlength="50" value="<?=$data_post["Room_number"]?>" required>
		</td>
		<th>電話番号</th>
		<td>
			<input pattern="\d{2,4}-\d{3,4}-\d{3,4}"  placeholder="ex:090-4569-6789" type="tel" class="w50p" name="Tel" value="<?=$data_post["Tel"]?>"　 required>
		</td>
	</tr>

	<tr>
		<th>画像ファイル
			<label style="font-size:13px; ">(最大4枚)</label>
		</th>
		<td colspan="3">
			<input id="userImageCount"  name="userImageCount"  value="<?=$data_post["userImageCount"]?>" hidden >
			<label for="userImage" class="upload-btn">
				<input id="userImage" class="userImage" name="userImage[]" type="file"  accept="image/*"  multiple="multiple"/>
				<span id="selectedFileName">画像を選択</span>
			</label>
			<div id="sending" class="gallery">
				<?if(is_countable($_SESSION["data_image"])>0){ $i=1;?>
				<?foreach($_SESSION["data_image"] as $tmp){ ?>
				<?if($tmp["delete"]!="1"){?>
				<div class='view-img' id="img">
					<span class='remove' data-file="<?=$tmp["UploadName"]?>"> <i class='fas fa-times'></i>
					</span> 
					<img class="show-image" src="<?=$tmp["UploadPath"]?>">  
				</div>
				<?}?>
				<?}?>
				<?}?>
			</div>
		</td>							
	</tr> 
	<tr>
		<th>QRコード用URL</th>
		<td colspan="3"><input type="text" class="w50p" id="QR" name="QR"  value="<?=$data_post["QR"]?>" required></td>		
	</tr>
	<tr>
		<th>施設情報</th>
		<td colspan="3" >
			<textarea class="w50p" id="Info_hotel" name="Info_hotel" rows="5" cols="50 " required><?=$data_post["Info_hotel"]?></textarea>
		</td>						
	</tr>
	<tr>
		<th>その他</th>
		<td colspan="3" >
			<textarea class="w50p" id="Other" name="Other" rows="5" cols="50 " required><?=$data_post["Other"]?></textarea>
		</td>						
	</tr>
	<tr>
		<th>紹介コメント</th>
		<td colspan="3" >
			<textarea class="w50p" id="Introduce_cm" name="Introduce_cm" rows="5" cols="50 " required><?=$data_post["Introduce_cm"]?></textarea>
		</td>						
	</tr>
</table>
</div>
<div class="btn-button">
	<input type="hidden" id="action" name="action" value="tw">
	<input type="hidden" id="confirm" value="<?=$confirm?>" />
	<?if($_REQUEST["ID"]=="hotel"){?>
		<button class="btnsubmit" id="submit" value="submit" name="submit" type="submit" >	登録へ</button>
	<?}else{?>
		<button class="btnsubmit" id="submit"  name="submit" type="button" onclick="backdataview()" >キャンセル</button>
		<button class="btnsubmit" id="submit" value="submit" name="submit" type="submit" >	完了</button>
	<?}?>
</button>		
</div>
</form>
</div>
<script type="text/javascript">
	// auto resize textarea
	$('textarea').each(function () {
		this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
	}).on('input', function () {
		this.style.height = 'auto';
		this.style.height = (this.scrollHeight) + 'px';
	});

	function phoneMask() { 
		var num = $(this).val().replace(/\D/g,''); 
		if(num!=="")
			$(this).val(num.substring(0,3) +"-"+ num.substring(3,7) +"-"+  num.substring(7,11)); 
	}
	$('[type="tel"]').keyup(phoneMask);

	function backdataview(){
		var role = "<?=$_SESSION['role']?>" ;
		if(role=="1"){
			var  url_dataview = "./?cat=6";	
		}else{
			var  url_dataview = "./index.php";	
		}
		window.location = url_dataview;
	}

	// validate form
	function formValidate1(){
		var userImageCount = document.getElementById("userImageCount").value;
		if(userImageCount == "" || userImageCount ==null || userImageCount =="0"){
			$('.gallery > label').remove();
			$( ".gallery" ).append('<label for="name">画像ファイルを選択ください。</label>');
	// this.setCustomValidity('画像データの有無を選択ください。');
	return false;
	}
	return true;
	}
		$(document).ready(function () {
			$("input[name=Caterogy]").on("invalid", function () {
				if(this.validity.valueMissing){
					this.setCustomValidity('カテゴリを入力してください');
				}else{
					this.setCustomValidity('');
				}
			});
			$("input[name=Name]").on("invalid", function () {
				if(this.validity.valueMissing){
					this.setCustomValidity('店名を入力してください');
				}else{
					this.setCustomValidity('');
				}
			});
			$("input[name=Address]").on("invalid", function () {
				if(this.validity.valueMissing){
					this.setCustomValidity('住所を入力してください');
				}else{
					this.setCustomValidity('');
				}
			});
			$("input[name=Time_work]").on("invalid", function () {
				if(this.validity.valueMissing){
					this.setCustomValidity('営業時間を入力してください');
				}else{
					this.setCustomValidity('');
				}
			});
			$("input[name=Tel]").on("invalid", function () {
				if(this.validity.valueMissing){
					this.setCustomValidity('電話番号を入力してください');
				}else{
					this.setCustomValidity('');
				}
			});
			$("textarea[name=Introduce_cm]").on("invalid", function () {
				if(this.validity.valueMissing){
					this.setCustomValidity('紹介コメントを入力してください');
				}else{
					this.setCustomValidity('');
				}
			});
			$("input[name=QR_1]").on("invalid", function () {
				if(this.validity.valueMissing){
					this.setCustomValidity('QRコード用URL1を入力してください');
				}else{
					this.setCustomValidity('');
				}
			});
			$("input[name=QR_2]").on("invalid", function () {
				if(this.validity.valueMissing){
					this.setCustomValidity('QRコード用URL2を入力してください');
				}else{
					this.setCustomValidity('');
				}
			});
		});
		function selectradio(isImage){
			if(isImage==1){
				$("#userImage").removeAttr( "disabled", "disabled" );
				$("#userImageCount").removeAttr( "disabled", "disabled" );
			}else{
				document.getElementById("userImageCount").value =  "";
				$('.gallery > div').remove();
				$("#userImage").attr( "disabled", "disabled" );
				$("#userImageCount").attr( "disabled", "disabled" );
			}
		}
	//image 
	$(function() {
    // Multiple images preview in browser
    var imagesPreview = function(input, placeToInsertImagePreview) {
    	if (input.files) {
    		$('.gallery > label').remove();
    		var userImageCount = document.getElementById("userImageCount").value;
    		var file = input.files;
    		var formdata = new FormData();
    		var length = input.files.length;
    		var countImg = 0;
    		if(parseInt(userImageCount)==NaN || userImageCount=="" || parseInt(userImageCount)==null){
    			countImg = length;

    		}else{
    			countImg = parseInt(userImageCount)  + length;
    		}
    		if(countImg>4){
    			$( ".gallery" ).append('<label for="name">写真は最大4枚で、再入力してください。</label>');
    			document.getElementById("userImage").value =""; 
    			return;
    		}
            //remove old img
            $('.gallery > div').remove();

            for(var x = 0; x < length ; x ++){
            	formdata.append('userImage[]', file[x]);
            }
            // form.append('media[]', file);
            formdata.append('action', $('#action').val());
            formdata.append('status', "insert");
            formdata.append('type', "0");

            $.ajax({
            	url : "upload_file.php",
            	type: "POST",
            	cache: false,
            	contentType: false,
            	processData: false,
            	data : formdata,
            	success: function(response){
            		var datajson = JSON.parse(response);
            		lengthData = datajson.length;
            		document.getElementById("userImageCount").value = lengthData
            		for(var i =0;i<lengthData ; i++){
            			strtype_img = "image";
            			strtype_video = "video";
         //            	if(datajson[i]["UploadType"].includes(strtype_video) ){
		    			// var html = "<div class='view-img' id='img"+i+"'><span class='remove' data-file='"+datajson[i]["UploadName"]+"'><i class='fas fa-times'></i></span>"+
		    			// "<video class='css-video' controls> <source src="+datajson[i]["UploadPath"]+" type='video/mp4'> </video>"
		    			// +"</div>";
			    		// }else{
			    			var html = '<div class="view-img" id="img'+i+'"><span class="remove" data-file="'+datajson[i]["UploadName"]+'"><i class="fas fa-times"></i></span><img src="'+datajson[i]["UploadPath"]+'"></div>';
			    		// }
			    		$('.gallery').append(html);
			    	}
			    }
			});
        }
    };
    $('#userImage').on('change', function() {
    	imagesPreview(this, 'div.gallery');
    });
});
// remove image
$(document).on('click', ".remove", function() {
var parent = $(this).parent().parent().attr('class');
if(parent == "gallery"){
	var userImageCount = document.getElementById("userImageCount").value;
	document.getElementById("userImageCount").value = parseInt(userImageCount)-1;
}
var file = $(this).data("file");
var status = false;
var thiscurrent = $(this);
$.ajax({
	url : "upload_file.php",
	type: "POST",
	data : {
		action:$('#action').val(),
		status:"remove",
		filename:file
	},
	success: function(response){
		var datajson = JSON.parse(response);
		if(datajson.success){
			thiscurrent.parent().remove();
			thiscurrent.parent(".view-img").remove();
		}
	}
});
});

function FileListItems (files) {
var b = new ClipboardEvent("").clipboardData || new DataTransfer()
for (var i = 0, len = files.length; i<len; i++) b.items.add(files[i])
	return b.files
};

function getLongLng(item){
   var geocoder = new google.maps.Geocoder();
   var address = item.value;
   if (geocoder) {
      geocoder.geocode({ 'address': address }, function (results, status) {
         if (status == google.maps.GeocoderStatus.OK) {
			var location = results[0].geometry.location;
			document.getElementById("Lng").value = location.lng();
			document.getElementById("Lat").value = location.lat();
         }
      });
   }
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqVs5DU4Nm_m7wDBK894Bui6-mfmQ2xbo&callback=initMap&libraries=&v=weekly&language=ja&region=JP"></script>
<?
/*-*----------------------------------------------------*-*
* 登録完了画面
*-*----------------------------------------------------*-*/
}elseif( $confirm== 1 )
{
	?>
	<SCRIPT type="text/javascript">
		
		var role = <?=$_SESSION['role']?> ;
		var next = "?cat=6";
		if(role==1){
			alert("宿泊の情報を登録されました。");
			var  next = "./?cat=6";	
		}else{
			alert("宿泊の情報を編集出来ました。");
			var  next = "./index.php";	
		}
		
		
		setTimeout("link()", 0);

		function link(){
			location.href=next;
		}

	</SCRIPT>

	<BR><BR><BR>
	<!-- <div class="TB14pxNonBlue" align="center">
	データを<?=$ap_text?>しました。トップページに移動します
	<div>移動しない場合は<a href="<?=$base_url?>&vw_ctl=list">こちら</a>をクリックしてください</div>
</div> -->
<? } ?>

</body>
</html>