<!DOCTYPE html>
<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="./common/css/style_login.css">　
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<title>JCIホームページ</title>
</head>
<style type="text/css" media="screen">
	*, ::after, ::before {
    box-sizing: border-box;
}
</style>
<body>
<!-- <div class="index"> -->
	<div class="wrapper fadeInDown">
		<div id="formContent-index">
  <div class="test">
<p class="hometext"><i>ＪＣＩ</i></p>
<p style="color: blue; font-size: 33px;"></p>
<p style="color: #0090D5; font-size: 33px;">SNS配信依頼システム</p>

<!-- <script type="text/javascript">
	function choice(){
		var manager = document.getElementID("manager");
		var guest = document.getElementID("guest");
		if (manager==true) {}
	}

</script> -->
<button onclick="window.location.href='?cat=1'" class="guest" id="guest" name="guest">配信依頼画面へ</button>
<button onclick="window.location.href='?cat=4'" class="manager" id="manager" name="manager">管理画面へ</button>
<!-- <p class="screen">行きたい画面は選んでください！</p> -->

</div>
</div>
</div>
</body>
</html>