
<!-- <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″/> -->
<title> 入力フォーム</title>
<link rel="stylesheet" href="./common/css/entry_example.css">
<link rel="stylesheet" href="./common/css/resp_table.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
<style type="text/css">
	#imageFile::before {
		content: "画像を選択";
		position: absolute;
		/*z-index: 2;*/
		margin-top: 3px;
		margin-left: 9px;
		/* margin: 0 auto; */
		display: block;
		background-color: #eee;
		width: 81px;
	}
	/*#entry-example::before {
	z-index: 2;
	}*/
	.gallery  {
		display: flex;
	}
	
	.gallery  img{
		width: 160px;
		height: 120px;

	}
	.gallery  label{
		color: red;
	}
	.gallery a{
		text-align: right;
	}
	.gallery1  {
		display: flex;
	}
	
	.gallery1 img{
		width: 160px;
		height: 120px;

	}
	.gallery1  label{
		color: red;
	}
	.gallery1 a{
		text-align: right;
	}
	.view-img {
		display: grid;
		margin-left:  5px;
	}
	.day{
		font-size: 22px;
	}
	.css-video{
		width: 160px;
		height: 120px;
	}
	.btn-button{
		display: flex;
	}
	.btnsubmit{
		margin: auto;
		margin-top: 20px;
		background-color: #4285F4;
		border-radius: 28px;
		border: 1px solid #4285F4;
		display:block; 
		cursor: pointer;
		color: white;
		font-family: Arial;
		font-size: 17px;
		padding: 10px 40px;
		text-decoration: none;
		text-shadow: 0px 1px 0px #4285f4;
		outline: none;
	}
	.entry-example{
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		text-align: right;
	}
	/*//upload file*/
	#userImage {
		display: none;
	}
	#userImageBn {
		display: none;
	}
	.upload-btn {
		border: 1px solid burlywood;
		text-align: center;
		margin: 5px auto 5px;
		width: 150px;
		/*height: 18px;*/
		background-color: #ffe17f;
		line-height: 18px;
		border-radius: 20px;
	}

	.upload-btn:hover {
		background-color: #c39d5a;
		color: white;
		cursor: pointer;
	}
	table th, table td{
		padding: 5px;
	}
	.form-title{
		display: flex;
		justify-content: center;
	}
	.form-edit{
		/*width: 85%;*/
		margin-left: auto;
		display: flex;
		justify-content: space-around;
		font-weight: bold;
	}
</style>

<body>
	<!-- <p class="day" id="day" name="day"></p> -->

<?if($confirm!=1){?>
<?if($_REQUEST["ID"]=="new"){?>
	<div class="form-title">
		<img src="./common/icon/restaurant_icon.png" style="height: 40px;"><h1 style="text-align: center;color: #0090D5;">食べる</h1>
	</div>
<?}else{?>
	<div class="form-edit">
		<div class="form-title">
		<img src="./common/icon/restaurant_icon.png" style="height: 40px;"><h1 style="text-align: center;color: #0090D5;">食べる</h1>
		</div>
		<div class="form-title">
			<h1 style="text-align: center;color: #0090D5;">修正・削除</h1>
		</div>
	</div>
<?}?>
<div class="form-inputdata" style="">
<form id="inputform" name="from-input" class="" method="POST" onsubmit="return formValidate1()"
action="<?=$base_url?>" enctype="multipart/form-data">
<div class="inputform_div">
<script>
	// Get the modal
	var modal = document.getElementById("myModal");

	// Get the image and insert it inside the modal - use its "alt" text as a caption
	var img = document.getElementById("myImg");
	// var modalImg = document.getElementById("img01");
	// var captionText = document.getElementById("caption");
	// img.onclick = function(){
	// 	modal.style.display = "block";
	// // modalImg.src = this.src;
	// // captionText.innerHTML = this.alt;
	// }

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks on <span> (x), close the modal
	// span.onclick = function() { 
	// 	modal.style.display = "none";
	// }
</script>
</div>
<table class="t_form" align="center">
	
	<tr>
		<th>飲食店</th>
		<td colspan="3">
			<input type="text" class="w50p" name="Name" maxlength="50"  value="<?=$data_post["Name"]?>" required>
			<input type="hidden" class="w50p" name="ID" value="<?=$data_post["ID"]?>" > 
		</td>
	</tr>
	<tr>
		<th>住所</th>
		<td colspan="3">
			<input type="hidden" id="Lng" name="Lng" value="<?=$data_post["Lng"]?>" > 
			<input type="hidden" id="Lat" name="Lat" value="<?=$data_post["Lat"]?>" >
			<input type="text" class="w50p" name="Address" onchange="getLongLng(this)"  maxlength="50" value="<?=$data_post["Address"]?>" required>
		</td>
	</tr>

	<tr>
		<th>営業時間</th>
		<td colspan="3" >
			<textarea type="text" class="w50p" name="Time_work" maxlength="150" required><?=$data_post["Time_work"]?></textarea>
		</td>
	</tr>

	<tr>

		<th>カテゴリ</th>
		<td>

			<select name="Category_id" class="w50p">
			<?if ($_REQUEST['ID']=="new") { ?>
				
					<option value="0">ーー選択をしてください。ーー</option>
					<?foreach($category as $categoryName) {?>
						<option value="<?=$categoryName['ID'];?>"> <?=$categoryName['Name'];?> </option>
					<?}?>
				
			<?}else{?>
					<?foreach($category as $categoryName) {?>
						<option value="<?=$categoryName["ID"];?>" <?if($categoryName["Name"]==$data_post["Category"]){?>selected<?}?> > <?=$categoryName["Name"]?> </option>
						<!-- <option > <?=$data_post["Caterogy"]?> </option> -->
					<?}?>
				<!-- <input type="text" class="w50p" name="Caterogy"  value="<?=$data_post["Caterogy"]?>" required> -->
			<?}?>
			</select>
		</td>

		<th>掲載</th>
		<td class="choice" >
			<?if($data_post['Flag']==1){?>
			<input type="radio" id="Flag" name="Flag" value="1" checked onclick="isCheck(1)">
			<label for="0">する</label>
			<input type="radio" id="Flag" name="Flag" value="0" onclick="isCheck(0)">
			<label for="1">しない</label>
			<?}else{?>
			<input type="radio" id="Flag" name="Flag" value="1" onclick="isCheck(1)">
			<label for="0">する</label>
			<input type="radio" id="Flag" name="Flag" value="0" checked onclick="isCheck(0)">
			<label for="1">しない</label>
			<?}?>
		</td>	
	</tr>
	<tr id="FlagDate">
		<th>掲載期間（開始）</th>
		<td ><input type="date" class="w50p" name="FromDay" value="<?=$data_post["FromDay"]?>" ></td>
		<th>終了</th>
		<td>
			<input type="date" class="w50p" name="ToDay" value="<?=$data_post["ToDay"]?>">
		</td>
	</tr>
	<tr id="banner">
		<th>画像バーナー
		</th>
		<td colspan="3">
			<!-- <input id="userImageCount"  name="userImageCount"  value="<?=$data_post["userImageCount"]?>" hidden > -->
			<label for="userImageBn" class="upload-btn">
				<input id="userImageBn" class="userImage" name="userImageBn[]" type="file"  accept="image/*"  　/>
				<span id="selectedFileName">画像を選択</span>
			</label>
			<div id="sending" class="gallery1">
				<?if(is_countable($_SESSION["data_image"])>0){ $i=1;?>
				<?foreach($_SESSION["data_image"] as $tmp){ ?>
				<?if($tmp["delete"]!="1" and $tmp["Type"]=="5"){?>
				<div class='view-img' id="img">
					<span class='remove' data-file="<?=$tmp["UploadName"]?>"> <i class='fas fa-times'></i>
					</span> 
					<img class="show-image" src="<?=$tmp["UploadPath"]?>">  
				</div>
				<?}?>
				<?}?>
				<?}?>
			</div>
		</td>							
	</tr>
	<tr>
		<th>メール</th>
		<td ><input placeholder="example@gmail.com" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$" type="text" class="w50p" name="MemberEmail" value="<?=$data_post["MemberEmail"]?>" ></td>
		<th>電話番号</th>
		<td>
			<input pattern="\d{2,4}-\d{3,4}-\d{3,4}"  placeholder="ex:090-4569-6789" type="tel" class="w50p" name="Tel" value="<?=$data_post["Tel"]?>"　 required>
		</td>
	</tr>

	<tr>
		<th>画像ファイル
			<label style="font-size:13px; ">(最大4枚)</label>
		</th>
		<td colspan="3">
			<input id="userImageCount"  name="userImageCount"  value="<?=$data_post["userImageCount"]?>" hidden >
			<label for="userImage" class="upload-btn">
				<input id="userImage" class="userImage" name="userImage[]" type="file"  accept="image/*"  multiple="multiple"/>
				<span id="selectedFileName">画像を選択</span>
			</label>
			<div id="sending" class="gallery">
				<?if(is_countable($_SESSION["data_image"])>0){ $i=1;?>
				<?foreach($_SESSION["data_image"] as $tmp){ ?>
				<?if($tmp["delete"]!="1" and $tmp["Type"]=="1"){?>
				<div class='view-img' id="img">
					<span class='remove' data-file="<?=$tmp["UploadName"]?>"> <i class='fas fa-times'></i>
					</span> 
					<img class="show-image" src="<?=$tmp["UploadPath"]?>">  
				</div>
				<?}?>
				<?}?>
				<?}?>
			</div>
		</td>							
	</tr> 
	<tr>
		<th>QRコード用URL1</th>
		<td colspan="3"><input type="text" class="w50p" id="QR_1" name="QR_1"  value="<?=$data_post["QR_1"]?>" required></td>		
	</tr>
	<tr>
		<th>QRコード用URL2</th>
		<td colspan="3"><input type="text" class="w50p" id="QR_2" name="QR_2"  value="<?=$data_post["QR_2"]?>" required></td>		
	</tr>
	<tr>
		<th>紹介コメント</th>
		<td colspan="3" >
			<textarea class="w50p" id="Introduce_cm" name="Introduce_cm" rows="5" cols="50 " required><?=$data_post["Introduce_cm"]?></textarea>
		</td>						
	</tr>
	<tr>
		<th>自由テキスト1</th>
		<td colspan="3" >
			<input type="text" class="w50p" id="Text1" name="Text1"  maxlength="50" value="<?=$data_post["Text1"]?>"></td>
		</td>						
	</tr>
	<tr>
		<th>自由テキスト2</th>
		<td colspan="3" >
			<input type="text" class="w50p" id="Text2" name="Text2"  maxlength="50" value="<?=$data_post["Text2"]?>"></td>
		</td>						
	</tr>
	<tr>
		<th>自由テキスト3</th>
		<td colspan="3" >
			<input type="text" class="w50p" id="Text3" name="Text3"  maxlength="50" value="<?=$data_post["Text3"]?>"></td>
		</td>						
	</tr>
	<tr>
		<th>自由テキスト4</th>
		<td colspan="3" >
			<input type="text" class="w50p" id="Text4" name="Text4"  maxlength="50" value="<?=$data_post["Text4"]?>"></td>
		</td>						
	</tr>
	<tr>
		<th>自由テキスト5</th>
		<td colspan="3" >
			<input type="text" class="w50p" id="Text5" name="Text5"  maxlength="50" value="<?=$data_post["Text5"]?>"></td>
		</td>						
	</tr>
</table>
</div>
<div class="btn-button">
	<input type="hidden" id="action" name="action" value="tw">
	<input type="hidden" id="confirm" value="<?=$confirm?>" />
	<?if($_REQUEST["ID"]=="new"){?>
		<button class="btnsubmit" id="submit" value="submit" name="submit" type="submit" >登録へ</button>
	<?}else{?>
		<button class="btnsubmit" id="submit"  name="submit" type="button" onclick="backdataview()" >キャンセル</button>
		<button class="btnsubmit" id="submit" value="submit" name="submit" type="submit" >更新</button>
	<?}?>
</button>		
</div>
</form>
</div>
<script type="text/javascript">
	// auto resize textarea
	$('textarea').each(function () {
		this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
	}).on('input', function () {
		this.style.height = 'auto';
		this.style.height = (this.scrollHeight) + 'px';
	});
	function phoneMask() { 
		var num = $(this).val().replace(/\D/g,''); 
		if(num!=="")
			$(this).val(num.substring(0,3) +"-"+ num.substring(3,7) +"-"+  num.substring(7,11)); 
	}
	$('[type="tel"]').keyup(phoneMask);

	function backdataview(){
		var role = "<?=$_SESSION['role']?>" ;
		if(role=="1"){
			var  url_dataview = "./?cat=1";	
		}else{
			var  url_dataview = "./index.php";	
		}
		window.location = url_dataview;
	}
	// validate form
	function formValidate1(){
		var userImageCount = document.getElementById("userImageCount").value;
		if(userImageCount == "" || userImageCount ==null || userImageCount =="0"){
			$('.gallery > label').remove();
			$( ".gallery" ).append('<label for="name">画像ファイルを選択ください。</label>');
	// this.setCustomValidity('画像データの有無を選択ください。');
	return false;
	}
	return true;
	}
		$(document).ready(function () {
			$("input[name=Caterogy]").on("invalid", function () {
				if(this.validity.valueMissing){
					this.setCustomValidity('カテゴリを入力してください');
				}else{
					this.setCustomValidity('');
				}
			});
			$("input[name=Name]").on("invalid", function () {
				if(this.validity.valueMissing){
					this.setCustomValidity('店名を入力してください');
				}else{
					this.setCustomValidity('');
				}
			});
			$("input[name=Address]").on("invalid", function () {
				if(this.validity.valueMissing){
					this.setCustomValidity('住所を入力してください');
				}else{
					this.setCustomValidity('');
				}
			});
			$("input[name=Time_work]").on("invalid", function () {
				if(this.validity.valueMissing){
					this.setCustomValidity('営業時間を入力してください');
				}else{
					this.setCustomValidity('');
				}
			});
			$("input[name=Tel]").on("invalid", function () {
				if(this.validity.valueMissing){
					this.setCustomValidity('電話番号を入力してください');
				}else{
					this.setCustomValidity('');
				}
			});
			$("textarea[name=Introduce_cm]").on("invalid", function () {
				if(this.validity.valueMissing){
					this.setCustomValidity('紹介コメントを入力してください');
				}else{
					this.setCustomValidity('');
				}
			});
			$("input[name=QR_1]").on("invalid", function () {
				if(this.validity.valueMissing){
					this.setCustomValidity('QRコード用URL1を入力してください');
				}else{
					this.setCustomValidity('');
				}
			});
			$("input[name=QR_2]").on("invalid", function () {
				if(this.validity.valueMissing){
					this.setCustomValidity('QRコード用URL2を入力してください');
				}else{
					this.setCustomValidity('');
				}
			});
		});
		function selectradio(isImage){
			if(isImage==1){
				$("#userImage").removeAttr( "disabled", "disabled" );
				$("#userImageCount").removeAttr( "disabled", "disabled" );
			}else{
				document.getElementById("userImageCount").value =  "";
				$('.gallery > div').remove();
				$("#userImage").attr( "disabled", "disabled" );
				$("#userImageCount").attr( "disabled", "disabled" );
			}
		}
	//image 
	$(function() {
    // Multiple images preview in browser
    var imagesPreview = function(input, placeToInsert,type) {
    	if (input.files) {
    		$(placeToInsert+'> label').remove();
    		var formdata = new FormData();
	    	var length = input.files.length;
	    	var file = input.files;
    		if(type==1){
	    		var userImageCount = document.getElementById("userImageCount").value;
	    		
	    		var countImg = 0;
	    		if(parseInt(userImageCount)==NaN || userImageCount=="" || parseInt(userImageCount)==null){
	    			countImg = length;

	    		}else{
	    			countImg = parseInt(userImageCount)  + length;
	    		}
	    		if(countImg>4){
	    			$( placeToInsert ).append('<label for="name">写真は最大4枚で、再入力してください。</label>');
	    			document.getElementById("userImage").value =""; 
	    			return;
	    		}
    		}
            //remove old img
            $(placeToInsert+'> div').remove();

            for(var x = 0; x < length ; x ++){
            	if(type ==1){
            		formdata.append('userImage[]', file[x]);	
            	}else{
            		formdata.append('userImage[]', file[x]);
            	}
            	
            }
            // form.append('media[]', file);
            if(type ==5){
            	formdata.append('action', "banner");	
            }
            
            formdata.append('status', "insert");
            formdata.append('type', type);

            $.ajax({
            	url : "upload_file.php",
            	type: "POST",
            	cache: false,
            	contentType: false,
            	processData: false,
            	data : formdata,
            	success: function(response){
            		var datajson = JSON.parse(response);
            		lengthData = datajson.length;
            		var userImageCount = 0;
            		for(var i =0;i<lengthData ; i++){

            			if(datajson[i]["Type"] == type){
			    			var html = '<div class="view-img" id="img'+i+'"><span class="remove" data-file="'+datajson[i]["UploadName"]+'"><i class="fas fa-times"></i></span><img src="'+datajson[i]["UploadPath"]+'"></div>';
			    			$(placeToInsert).append(html);
            			}
            			if(datajson[i]["Type"] ==1){
            				userImageCount ++;
            			}
			    	}
			    	document.getElementById("userImageCount").value = userImageCount;
			    }
			});
        }
    };
    // file image
    $('#userImage').on('change', function() {
    	imagesPreview(this, '.gallery',1);
    });
    // banner image
    $('#userImageBn').on('change', function() {
    	imagesPreview(this, '.gallery1',5);
    });
});
// remove image
$(document).on('click', ".remove", function() {
var parent = $(this).parent().parent().attr('class');
if(parent == "gallery"){
	var userImageCount = document.getElementById("userImageCount").value;
	document.getElementById("userImageCount").value = parseInt(userImageCount)-1;
}
var file = $(this).data("file");
var status = false;
var thiscurrent = $(this);
$.ajax({
	url : "upload_file.php",
	type: "POST",
	data : {
		action:$('#action').val(),
		status:"remove",
		filename:file
	},
	success: function(response){
		var datajson = JSON.parse(response);
		if(datajson.success){
			thiscurrent.parent().remove();
			thiscurrent.parent(".view-img").remove();
		}
	}
});
});
function isCheck(value){
	if(value==1){
		document.getElementById("FlagDate").style.display="";
		document.getElementById("banner").style.display="";

	}else{
		document.getElementById("FlagDate").style.display="none";
		document.getElementById("banner").style.display="none";
	}
}
function FileListItems (files) {
var b = new ClipboardEvent("").clipboardData || new DataTransfer()
for (var i = 0, len = files.length; i<len; i++) b.items.add(files[i])
	return b.files
};
　function getLongLng(item){
	var geocoder = new google.maps.Geocoder();
   var address = item.value;
   if (geocoder) {
      geocoder.geocode({ 'address': address }, function (results, status) {
         if (status == google.maps.GeocoderStatus.OK) {
			var location = results[0].geometry.location;
			document.getElementById("Lng").value = location.lng();
			document.getElementById("Lat").value = location.lat();
         }
      });
   }
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqVs5DU4Nm_m7wDBK894Bui6-mfmQ2xbo&callback=initMap&libraries=&v=weekly&language=ja&region=JP"></script>
<?
/*-*----------------------------------------------------*-*
* 登録完了画面
*-*----------------------------------------------------*-*/
}elseif( $confirm== 1 )
{
	?>
	<SCRIPT type="text/javascript">
		
		var requestID = "<?=$_REQUEST['ID']?>" ;
		var next = "?cat=1";
		if(requestID=="new"){
			alert("お店の情報を登録されました。");
			var  next = "./?cat=1";	
		}else{
			alert("お店の情報を編集出来ました。");
			var  next = "./?cat=1";	
		}
		
		setTimeout("link()", 0);

		function link(){
			location.href=next;
		}

	</SCRIPT>

	<BR><BR><BR>
	<!-- <div class="TB14pxNonBlue" align="center">
	データを<?=$ap_text?>しました。トップページに移動します
	<div>移動しない場合は<a href="<?=$base_url?>&vw_ctl=list">こちら</a>をクリックしてください</div>
</div> -->
<? } ?>

</body>
</html>