<div class="wrapper">
	<div class="content"> 
	
	<!--ページのメイン部分-->
	
	<div class="main_title">
		<div class="main_title_left">
			<i class="menu--icon-title  fa fa-fw fa-info-circle"></i>各園からのお知らせ
		</div>
		<div class="main_title_right">
			<a> &nbsp;</a>
		</div>
		
	</div>

	<div class="top_info">
		<div class="top_info_contents">
			<h3>南2条園からのお知らせ</h3>
			<dl class="clearFix">
				<dt>2010/04/03</dt>
				<dd>Webテンプレート内のフォームのカテゴリーで、問い合わせフォームのサンプルをアップしました。</dd>
				<dt>2010/03/25</dt>
				<dd>2月20日にサーバーのメンテナンスを行う予定です。</dd>
				<dt>2010/02/15</dt>
				<dd>Twitter始めました。</dd>
				<dt>2010/01/05</dt>
				<dd>Webテンプレートを全面リニューアルしました。</dd>
			</dl>
		</div>

		<div class="top_info_contents">
			<h3>南平岸園からのお知らせ</h3>
			<dl class="clearFix">
				<dt>2010/04/03</dt>
				<dd>Webテンプレート内のフォームのカテゴリーで、問い合わせフォームのサンプルをアップしました。</dd>
				<dt>2010/03/25</dt>
				<dd>2月20日にサーバーのメンテナンスを行う予定です。</dd>
				<dt>2010/02/15</dt>
				<dd>Twitter始めました。</dd>
				<dt>2010/01/05</dt>
				<dd>Webテンプレートを全面リニューアルしました。</dd>
			</dl>
		</div>


	</div>