html,body{
  -webkit-user-select: none; 
  -webkit-touch-callout: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;    
}

.label{
  font-size: 15px;
  color: black;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.main-menu{
     margin:10px;
     background-color:  #EA3C55;
     border: 2px solid #fff;
     border-radius:  20px;
     box-shadow:  0 2px 6px rgba(0,0,0,.3);
     cursor : pointer;
     margin-bottom: 22px;
     text-align:  center;
     z-index: -1;
     }
      .main-menu:hover {
        /*filter: brightness(150%);*/
      }
#iconLocal {
    height: 20px;
    margin-right: 10px;
}
    #Categoly_nightlife{
      width: 100%;
      height: 300px;
      background-color: white;
    }

    #Categoly_nightlife img{
      border-radius: 35px;
    }

    .Category_nl1 img {
      transition: .5s ease;
      }

    .Category_nl1 img:hover {
      box-shadow:
      1px 1px #373737,
      2px 2px #373737,
      3px 3px #373737,
      4px 4px #373737,
      5px 5px #373737,
      6px 6px #373737;
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
      transition: .5s ease;
      filter: brightness(130%);
      }

    .Category_nl2 img {
      transition: .5s ease;
      }

    .Category_nl2 img:hover {
      box-shadow:
      1px 1px #373737,
      2px 2px #373737,
      3px 3px #373737,
      4px 4px #373737,
      5px 5px #373737,
      6px 6px #373737;
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
      transition: .5s ease;
      filter: brightness(130%);
      }

    .Category_nl3 img {
      transition: .5s ease;
      }

    .Category_nl3 img:hover {
      box-shadow:
      1px 1px #373737,
      2px 2px #373737,
      3px 3px #373737,
      4px 4px #373737,
      5px 5px #373737,
      6px 6px #373737;
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
      transition: .5s ease;
      filter: brightness(130%);
      }

    .Category_nl4 img {
      transition: .5s ease;
      }

    .Category_nl4 img:hover {
      box-shadow:
      1px 1px #373737,
      2px 2px #373737,
      3px 3px #373737,
      4px 4px #373737,
      5px 5px #373737,
      6px 6px #373737;
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
      transition: .5s ease;
      filter: brightness(130%);
      }

   .fancybox-button, .fancybox-button:link, .fancybox-button:visited {
        display: none;
      }
    table{
      width: 100%;
    }


 #map{
  margin-left: auto;
  margin-right: auto;
  height: 1200px;
  width: 98%;
  border: 10px solid white;
 }

 /*Disable text Google left bottom corner*/
  #map div a{
  display: none !important;
 }

 .title2{
  margin: 5px;
  padding: 10px;
  padding-bottom: 1px;
  background-color: #01B0EF;
  color: white;
  z-index: 0;
  position: absolute;
  text-decoration: underline;
 }


 #closeButton{
    border-radius:19px; 
    width:150px;
    height:50px;
    background: linear-gradient(to left top, #008CD7 50%, #1281cf 50%);
    border-style: none;
    color:#fff;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: 'Lato';
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
#closeButton span{
    position: absolute;
    display: block;
}
#closeButton span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
#closeButton span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
#closeButton span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

#closeButton span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

#closeButton:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
#closeButton:hover span{
    animation-play-state: paused;
}